:root {
    --cor-primaria: #F464C3;
    --cor-secundaria: #3d1c31;
    --cor-terciaria: #fdace0;
    --branco: white;
    --preto: black;
}

ul {
    display: flex;
    justify-content: space-between;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--cor-primaria);
    display: flex;
    padding: 1rem;
    align-items: center;
}

#form-buscar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#buscar {
    flex-grow: 0.75;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}

#btn-buscar {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 11%;
    cursor: pointer;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: var(--cor-terciaria);
    padding: 0.5rem;
}

nav a:first-child {
    border-right: 1px solid var(--preto);
}

.titulo {
    font-size: medium;
   display: grid;
   grid-template-columns: var(2, 1fr);
}

h1 {
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin-top: 40px;
}

.categoria {
    padding: 2%;
    border-radius: 30px;
    background-color: var(--cor-primaria);
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    text-align: center;
}

.adition {
    margin-top: 20px;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    text-align: center;
}