<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Ajuda.css">
    <title>LudoFashion - Ajuda</title>
</head>

<body>
    <header>
        <a href="" title="Home">LudoFashion</a>

        <form action="" id="form-buscar">
            <input type="searh" name="Buscar" id="buscar" placeholder="O que você procura?">
            <button type="submit" id="btn-buscar"><img src="imgs/icon_search.png" alt="" width="30px"></button>
        </form>

        <a href="" class="icon-link">
            <img src="imgs/icon_person.png" alt="" width="40px">
            Cadastre-se
        </a>

        <a href="" class="icon-link">
            <img src="imgs/icon_help.png" alt="" width="40px">
            Dúvidas
        </a>

    </header>
    <nav>

        <a href="">Catálogo</a>

        <a href="">Sobre a Loja</a>

    </nav>
    <h1>Principais perguntas:</h1>
    <div>
        <details class="btn-buscar">
            <summary class="perguntas">Como faço para adicionar um produto à minha lista de desejos?</summary>
            <p>Após selecionar seu produto escolhido, clique no coração ao lado da
                imagem.</p>
        </details>
        <details class="btn-buscar">
            <summary class="perguntas">Como posso pesquisar produtos no site?</summary>
            <p>Após selecionar seu produto escolhido, clique no coração ao lado da
                imagem.</p>
        </details>
        <details class="btn-buscar">
            <summary class="perguntas">Como faço para adicionar um produto à minha lista de desejos?</summary>
            <p>Após selecionar seu produto escolhido, clique no coração ao lado da
                imagem.</p>
        </details>
        <details class="btn-buscar">
            <summary class="perguntas">Como faço para adicionar um produto à minha lista de desejos?</summary>
            <p>Após selecionar seu produto escolhido, clique no coração ao lado da
                imagem.</p>
        </details>
        <details class="btn-buscar">
            <summary class="perguntas">Como faço para adicionar um produto à minha lista de desejos?</summary>
            <p>Após selecionar seu produto escolhido, clique no coração ao lado da
                imagem.</p>
        </details>
    </div>
    <div class="accordions">
        <div class="accordion-item">
            <div>
                <input type="radio" name="accordion" checked="checked" id="accordion-1" />
                <label for="accordion-1">Como faço para adicionar um produto à minha lista de desejos?</label>
                <div class="accordion-content">Após selecionar seu produto escolhido, clique no coração ao lado da
                    imagem.</div>

                <input type="radio" name="accordion" id="accordion-2" />
                <label for="accordion-2">Como posso pesquisar produtos no site?</label>
                <div class="accordion-content">Através da barra de busca ou por meio da seleção por categorias.</div>

                <input type="radio" name="accordion" id="accordion-3" />
                <label for="accordion-3">Existe uma opção de filtragem para encontrar produtos específicos, como por
                    categoria, preço, marca, etc?</label>
                <div class="accordion-content">Existe sim, inclusive esse recurso facilita a busca por novos produtos.
                </div>

                <input type="radio" name="accordion" checked="checked" id="accordion-4" />
                <label for="accordion-4">Posso salvar produtos em minha lista de desejos para ver mais tarde?</label>
                <div class="accordion-content">Pode sim, acessando seu perfil você consegue visualizar toda sua lista de
                    desejos.</div>

                <input type="radio" name="accordion" checked="checked" id="accordion-5" />
                <label for="accordion-5">Existe uma opção de chat ao vivo ou suporte online para obter ajuda adicional
                    sobre
                    o produto?</label>
                <div class="accordion-content">É claro, ao lado você acessa o nosso canal de atendimento.</div>
            </div>
        </div>
        <div class="help-img">
            <img id="img-redonda" src="../imgs/Won-duv.jpg" alt="" width="600px">
        </div>
        <div>
            <p class="Information">Fale conosco!</p>
        </div>
    </div>
</body>

</html>