<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca - LudoFashion</title>
    <link rel="stylesheet" href="../css/Busca.css">
</head>
<header>
    <a href="" class="icon-link">
        <img src="../imgs/Logo_LudoFashion.png" alt="" title="Home" width="100px">
    </a>

    <form action="" id="form-buscar">
        <input type="searh" name="Buscar" id="buscar" placeholder="O que você procura?">
        <button type="submit" id="btn-buscar"><img src="../imgs/icon_search.png" alt="" width="30px"></button>
    </form>

    <a href="" class="icon-link">
        <img src="../imgs/icon_personB.png" alt="" width="40px">
        Cadastre-se
    </a>

    <a href="" class="icon-link">
        <img src="../imgs/icon_helpB.png" alt="" width="40px">
        Dúvidas
    </a>
</header>

<nav>

    <a href="">Catálogo</a>

    <a href="">Sobre a Loja</a>

</nav>

<body>
    <main class="conteudo">
        <section class="part1">
            <h1>Categorias</h1>
            <div class="checklist">
                <input type="checkbox"> Blusa <br>
                <input type="checkbox"> Saia <br>
                <input type="checkbox"> Vestido <br>
                <input type="checkbox"> Lingerie <br>
                <input type="checkbox"> Maquiagem <br>
                <input type="checkbox"> Bolsa <br>
            </div>
        </section>
        <section>
            <div class="titulo1">
                <h2>Conheça nosso catálogo de produtos</h2>
                <p>Os mais variados produtos femininos, com os melhores preços de mercado!</p>
            </div>
            <div class="part2">
                <div class="elements">
                    <a href="" class="img-product" title="Saia texturizada xadrez">
                        <img src="../imgs/Product_1.png" alt="" width="200px">
                        Saia texturizada xadrez
                    </a>
                </div>
                <div class="elements">
                    <a href="" class="img-product" title="Impressão Listrada Camiseta Ombro Caído">
                        <img src="../imgs/Product_2.png" alt="" width="200px">
                        Camiseta listrada ombro caído
                    </a>
                </div>
                <div class="elements">
                    <a href="" class="img-product"
                        title="Vestido sólido de cor com decote redondo e mangas curtas com bolsos para o verão">
                        <img src="../imgs/Product_3.png" alt="" width="200px">
                        Vestido cor sólida
                    </a>
                </div>
            </div>
        </section>
    </main>
</body>

<footer>
    <div class="container">
        <div class="social-media">
            <a href=""><img src="../imgs/icon_whatsapp.png" title="Fale conosco via WhatsApp" alt="WhatsApp"
                    width="50px"></a>
            <a href=""><img src="../imgs/icon_instagram.png" title="Siga para mais novidades" alt="Instagram"
                    width="50px"></a>
            <a href=""><img src="../imgs/icon_facebook.png" title="Acompamhe as novidades no Face" alt="Facebook"
                    width="50px"></a>
            <a href=""><img src="../imgs/icon_twitter.png" title="Crie uma treta" alt="Twitter" width="50px"></a>
            <a href=""><img src="../imgs/icon_tiktok.png" title="As trends do momento" alt="TikTok" width="50px"></a>
        </div>
        <p>© 2024 LudoFashion. Todos os direitos reservados.</p>
    </div>
</footer>

</html>