<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca - LudoFashion</title>
    <link rel="stylesheet" href="../css/Busca.css">
</head>
<header>
    <a href="" class="icon-link">
        <img src="../imgs/Logo_LudoFashion.png" alt="" title="Home" width="100px">
    </a>

    <form action="" id="form-buscar">
        <input type="searh" name="Buscar" id="buscar" placeholder="O que você procura?">
        <button type="submit" id="btn-buscar"><img src="imgs/icon_search.png" alt="" width="30px"></button>
    </form>

    <a href="" class="icon-link">
        <img src="imgs/icon_person.png" alt="" width="40px">
        Cadastre-se
    </a>

    <a href="" class="icon-link">
        <img src="imgs/icon_help.png" alt="" width="40px">
        Dúvidas
    </a>

</header>
<nav>

    <a href="">Catálogo</a>

    <a href="">Sobre a Loja</a>

</nav>

<main class="conteudo">
    <section class="part1">
        <h1>Categorias</h1>
        <div>
            <ul>
                <li><a href="" title="Blusa">Blusa</a></li>
                <li><a href="" title="Saia">Saia</a></li>
                <li><a href="" title="Vestido">Vestido</a></li>
                <li><a href="" title="Lingerie">Lingerie</a></li>
                <li><a href="" title="Maquiagem">Maquiagem</a></li>
                <li><a href="" title="Bolsa">Bolsa</a></li>
            </ul>
        </div>
    </section>
    <section>
        <div class="titulo1">
            <h2>Conheça nosso catálogo de produtos</h2>
            <p>Os mais variados produtos femininos, com os melhores preços de mercado!</p>
        </div>
        <div class="part2">
            <a href="" class="img-product" title="Saia texturizada xadrez">
                <img src="../imgs/Product_1.png" alt="" width="200px">
                Saia texturizada xadrez
            </a>

            <a href="" class="img-product" title="Impressão Listrada Camiseta Ombro Caído">
                <img src="../imgs/Product_2.png" alt="" width="200px">
                Camiseta listrada ombro caído
            </a>

            <a href="" class="img-product"
                title="Vestido sólido de cor com decote redondo e mangas curtas com bolsos para o verão">
                <img src="../imgs/Product_3.png" alt="" width="200px">
                Vestido cor sólida
            </a>
        </div>
    </section>
</main>

<body>

</body>

</html>