<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca - LudoFashion</title>
</head>
<header>
    <a href="" title="Home">LudoFashion</a>

    <form action="" id="form-buscar">
        <input type="searh" name="Buscar" id="buscar" placeholder="O que você procura?">
        <button type="submit" id="btn-buscar"><img src="imgs/icon_search.png" alt="" width="30px"></button>
    </form>

    <a href="" class="icon-link">
        <img src="imgs/icon_person.png" alt="" width="40px">
        Cadastre-se
    </a>

    <a href="" class="icon-link">
        <img src="imgs/icon_help.png" alt="" width="40px">
        Dúvidas
    </a>

</header>
<nav>

    <a href="">Catálogo</a>

    <a href="">Sobre a Loja</a>

</nav>
<body>
    
</body>
</html>