<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Desejos - LudoFashion</title>
    <link rel="stylesheet" href="../css/CadastroProdutos.css">
</head>
<header>
    <a href="" class="icon-link">
        <img src="../imgs/Logo_LudoFashion.png" alt="" title="Home" width="100px">
    </a>

    <form action="" id="form-buscar">
        <input type="searh" name="Buscar" id="buscar" placeholder="O que você procura?">
        <button type="submit" id="btn-buscar"><img src="../imgs/icon_search.png" alt="" width="30px"></button>
    </form>

    <a href="" class="icon-link">
        <img src="../imgs/icon_personB.png" alt="" width="40px">
        Cadastre-se
    </a>

    <a href="" class="icon-link">
        <img src="../imgs/icon_helpB.png" alt="" width="40px">
        Dúvidas
    </a>
</header>

<nav>

    <a href="">Catálogo</a>

    <a href="">Sobre a Loja</a>

</nav>

<body>

    <h1>Cadastro de Produtos</h1>
    <h2>Detalhes do produto</h2>

    <label for="text">Código do produto</label>
    <input type="text">

    <label for="">Nome do produto</label>
    <input type="text">

    <label for="color">Cor</label>
    <input type="color">
    <input type="color">
    <input type="color">

    <label for="tamanho">Tamanho</label>
    <select name="tamanho-roupa" id="tam">
        <option value="p">P</option>
        <option value="m">M</option>
        <option value="g">G</option>
    </select>
    
    <label for="descricao">Descrição</label>
    <input type="text">
</body>
</html>