<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Desejos - LudoFashion</title>
    <link rel="stylesheet" href="../css/CadastroProdutos.css">
</head>
<header>
    <a href="" class="icon-link">
        <img src="../imgs/Logo_LudoFashion.png" alt="" title="Home" width="100px">
    </a>

    <form action="" id="form-buscar">
        <input type="searh" name="Buscar" id="buscar" placeholder="O que você procura?">
        <button type="submit" id="btn-buscar"><img src="../imgs/icon_search.png" alt="" width="30px"></button>
    </form>

    <a href="" class="icon-link">
        <img src="../imgs/icon_personB.png" alt="" width="40px">
        Cadastre-se
    </a>

    <a href="" class="icon-link">
        <img src="../imgs/icon_helpB.png" alt="" width="40px">
        Dúvidas
    </a>
</header>

<nav>

    <a href="">Catálogo</a>

    <a href="">Sobre a Loja</a>

</nav>

<body>
    <section>

        <h1>Cadastro de Produtos</h1>
        <h2>Detalhes do produto</h2>

        <div class="forma">
            <form action="">

                <div class="formulario">
                    <div>
                        <fieldset>
                            <label for="text">Código do produto</label>
                            <input type="text">
                        </fieldset>
                    </div>
                    <div>
                        <fieldset>
                            <label for="">Nome do produto</label>
                            <input type="text">
                        </fieldset>
                    </div>
                    <div>
                        <fieldset>
                            <label for="color">Cor</label>
                            <input type="color">
                            <input type="color">
                            <input type="color">
                        </fieldset>
                    </div>
                    <div>
                        <fieldset>
                            <label for="tamanho">Tamanho</label>
                            <select name="tamanho-roupa" id="tam">
                                <option value="p">P</option>
                                <option value="m">M</option>
                                <option value="g">G</option>
                            </select>
                        </fieldset>
                    </div>
                </div>
            </form>

            <form action="">
                <div class="formulario2">
                    <fieldset>
                        <label for="foto">Foto do Produto</label>
                        <input type="file" name="foto" id="foto" accept="image/*">
                    </fieldset>
                    <fieldset>
                        <label for="descricao" id="descricao" cols="10" rows="10">Descrição</label>
                        <textarea name="descricao" id="descricao" cols="-20" rows="-10"></textarea>
                    </fieldset>
                </div>
                
            </form>
            <div class="formulario3">
                <a href=""><input class="butao" type="submit" name="confirmar" value="Confirmar"></a>
            </div>
        </div>

    </section>
</body>

</html>