<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias - LudoFashion</title>
    <link rel="stylesheet" href="../css/Categorias.css">
</head>
<header>
    <a href="" title="Home">LudoFashion</a>

    <form action="" id="form-buscar">
        <input type="searh" name="Buscar" id="buscar" placeholder="O que você procura?">
        <button type="submit" id="btn-buscar"><img src="imgs/icon_search.png" alt="" width="30px"></button>
    </form>

    <a href="" class="icon-link">
        <img src="imgs/icon_person.png" alt="" width="40px">
        Cadastre-se
    </a>

    <a href="" class="icon-link">
        <img src="imgs/icon_help.png" alt="" width="40px">
        Dúvidas
    </a>

</header>
<nav>

    <a href="">Catálogo</a>

    <a href="">Sobre a Loja</a>

</nav>
<div>
    <h1 class="titulo-1">Categorias</h1>
</div>

<section class="form">
    <div class="categoria">
        <a href="" title="Casual" img="">Casual</a>
        <a href="" title="Social">Social</a>
        <a href="" title="Maquiagem">Maquiagem</a>
        <a href="" title="Esportivo">Esportivo</a>
        <a href="" title="Bolsa">Bolsa</a>
        <a href="" title="Banho">Banho</a>
        <a href="" title="Lingerie">Lingerie</a>
        <a href="" title="Calcinhas">Calcinhas</a>
        <a href="" title="Moda Praia">Moda Praia</a>
    </div>
    <div class="adition">
        <a href="" title="Adicionar categoria">Adicionar categoria</a>
    </div>
</section>

<body>

</body>

</html>