<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias - LudoFashion</title>
    <link rel="stylesheet" href="../css/Categorias.css">
</head>
<header>
    <a href="" title="Home">LudoFashion</a>

    <form action="" id="form-buscar">
        <input type="searh" name="Buscar" id="buscar" placeholder="O que você procura?">
        <button type="submit" id="btn-buscar"><img src="imgs/icon_search.png" alt="" width="30px"></button>
    </form>

    <a href="" class="icon-link">
        <img src="imgs/icon_person.png" alt="" width="40px">
        Cadastre-se
    </a>

    <a href="" class="icon-link">
        <img src="imgs/icon_help.png" alt="" width="40px">
        Dúvidas
    </a>

</header>
<nav>

    <a href="">Catálogo</a>

    <a href="">Sobre a Loja</a>

</nav>
<section>
    <div class="titulo">
            <img src="../imgs/icon_list.png" alt="" width="35px">
            <p><strong>Categorias</strong></p>
    </div>

    <form>
        <div class="categoria">
            <div>
                <img src="../imgs/icon_edit.png" alt="" width="35px">
                <a href=""></a>
                <img src="../imgs/icon_delete.png" alt="" width="35px">
                <label for="categoria">Casual</label>
            </div>
            <div>
                <img src="../imgs/icon_edit.png" alt="" width="35px">
                <a href=""></a>
                <img src="../imgs/icon_delete.png" alt="" width="35px">
                <label for="categoria">Social</label>
            </div>
            <div>
                <img src="../imgs/icon_edit.png" alt="" width="35px">
                <a href=""></a>
                <img src="../imgs/icon_delete.png" alt="" width="35px">
                <label for="categoria">Maquiagem</label>
            </div>
            <div>
                <img src="../imgs/icon_edit.png" alt="" width="35px">
                <a href=""></a>
                <img src="../imgs/icon_delete.png" alt="" width="35px">
                <label for="categoria">Esportivo</label>
            </div>
            <div>
                <img src="../imgs/icon_edit.png" alt="" width="35px">
                <a href=""></a>
                <img src="../imgs/icon_delete.png" alt="" width="35px">
                <label for="categoria">Bolsa</label>
            </div>
            <div>
                <img src="../imgs/icon_edit.png" alt="" width="35px">
                <a href=""></a>
                <img src="../imgs/icon_delete.png" alt="" width="35px">
                <label for="categoria">Banho</label>
            </div>
            <div>
                <img src="../imgs/icon_edit.png" alt="" width="35px">
                <a href=""></a>
                <img src="../imgs/icon_delete.png" alt="" width="35px">
                <label for="categoria">Lingerie</label>
            </div>
            <div>
                <img src="../imgs/icon_edit.png" alt="" width="35px">
                <a href=""></a>
                <img src="../imgs/icon_delete.png" alt="" width="35px">
                <label for="categoria">Calcinhas</label>
            </div>
            <div>
                <img src="../imgs/icon_edit.png" alt="" width="35px">
                <a href=""></a>
                <img src="../imgs/icon_delete.png" alt="" width="35px">
                <label for="categoria">Moda Praia</label>
            </div>
            <div class="adition">
                <img src="../imgs/adicao_icon.png" alt="" width="35px">
                <a href="" title="Adicionar categoria">Adicionar categoria</a>
            </div>
        </div>

    </form>
</section>

<body>

</body>

</html>