<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - LudoFashion</title>
    <link rel="stylesheet" href="../css/Login.css">
</head>
<header>
    <a href="" class="icon-link">
        <img src="../imgs/Logo_LudoFashion.png" alt="" title="Home" width="100px">
    </a>

    <form action="" id="form-buscar">
        <input type="searh" name="Buscar" id="buscar" placeholder="O que você procura?">
        <button type="submit" id="btn-buscar"><img src="../imgs/icon_search.png" alt="" width="30px"></button>
    </form>

    <a href="" class="icon-link">
        <img src="../imgs/icon_personB.png" alt="" width="40px">
        Cadastre-se
    </a>

    <a href="" class="icon-link">
        <img src="../imgs/icon_helpB.png" alt="" width="40px">
        Dúvidas
    </a>
</header>

<nav>

    <a href="">Catálogo</a>

    <a href="">Sobre a Loja</a>

</nav>

<body>
    <section class="logar">
        
        <form action="login">
            <h1>Login</h1>
            <div class="formatar">
                <div>
                    <label for="">E-mail</label><br>
                    <input type="text">
                </div>
                <div>
                    <label for="">Senha</label><br>
                    <input type="text">
                </div>
                <div>
                    <input type="submit" id="botao" class="botao" value="Login">
                </div>
                <div>
                    <p>OU</p>
                </div>
                <div>
                    <a href="https://mail.google.com/"><img src="../imgs/icon_google.png" alt="" width="40px"></a>

                    <a href="https://www.facebook.com/"><img src="../imgs/icon_face.png" alt="" width="40px"></a>
                </div>
                <div>
                    <a href="">Cadastrar</a>
                </div>
                <div>
                    <a href="">Precisa de ajuda?</a>
                </div>
            </div>
        </form>
    </section>

</body>

</html>