<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca - LudoFashion</title>
    <link rel="stylesheet" href="../css/MeuPerfil.css">
</head>
<header>
    <a href="" class="icon-link">
        <img src="../imgs/Logo_LudoFashion.png" alt="" title="Home" width="100px">
    </a>

    <form action="" id="form-buscar">
        <input type="searh" name="Buscar" id="buscar" placeholder="O que você procura?">
        <button type="submit" id="btn-buscar"><img src="../imgs/icon_search.png" alt="" width="30px"></button>
    </form>

    <a href="" class="icon-link">
        <img src="../imgs/icon_personB.png" alt="" width="40px">
        Cadastre-se
    </a>

    <a href="" class="icon-link">
        <img src="../imgs/icon_helpB.png" alt="" width="40px">
        Dúvidas
    </a>
</header>

<nav>

    <a href="">Catálogo</a>

    <a href="">Sobre a Loja</a>

</nav>

<body>
    <section class="lista">
        <div class="part">
            <div>
                <img src="../imgs/Icon_user.png" alt="" width="40px">
                <a href="" title="Minha Conta"><b>Minha Conta</b></a>
            </div>
            <div>
                <img src="../imgs/icon_favorite.png" alt="" width="40px">
                <a href="" title="Lista de Desejos"><b>Lista de Desejos</b></a>
            </div>
            <div>
                <img src="../imgs/icon_categorias.png" alt="" width="40px">
                <a href="" title="Categorias"><b>Categorias</b></a>
            </div>
            <div>
                <img src="../imgs/icon_invetario.png" alt="" width="40px">
                <a href="" title="Produtos"><b>Produtos</b></a>
            </div>
        </div>
    </section>
</body>

</html>