<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Desejos - LudoFashion</title>
    <link rel="stylesheet" href="../css/ProdutosCadastrados.css">
</head>
<header>
    <a href="" class="icon-link">
        <img src="../imgs/Logo_LudoFashion.png" alt="" title="Home" width="100px">
    </a>

    <form action="" id="form-buscar">
        <input type="searh" name="Buscar" id="buscar" placeholder="O que você procura?">
        <button type="submit" id="btn-buscar"><img src="../imgs/icon_search.png" alt="" width="30px"></button>
    </form>

    <a href="" class="icon-link">
        <img src="../imgs/icon_personB.png" alt="" width="40px">
        Cadastre-se
    </a>

    <a href="" class="icon-link">
        <img src="../imgs/icon_helpB.png" alt="" width="40px">
        Dúvidas
    </a>
</header>

<nav>

    <a href="">Catálogo</a>

    <a href="">Sobre a Loja</a>

</nav>

<body>
    <section>
        <h1>Produtos cadastrados</h1>
<table>
    <tr>
        <td>Código do Produto</td>
        <td>Nome do Produto</td>
        <td>Cor</td>
        <td>Tamanho</td>
        <td>Descrição do Produto</td>
    </tr>
    <tr>
        <td>01</td>
        <td>Calça Skinny</td>
        <td>Azul</td>
        <td>38, 40, 42</td>
        <td>Calça Skinny feminina C&A</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr></tr>
    <tr><td></td></tr>
</table>
    </section>
    
</body>
</html>